<section class="section1">
  <div class="header">
    <div class="disease-info header-btn underline" routerLink="/disease-info">
      Disease Information
    </div>
    <div class="home header-btn" routerLink="/home">Home</div>
    <div class="detection-ui header-btn" routerLink="/prediction">
      Detection UI
    </div>
  </div>
  <div class="section1-body">
    <div class="section1-heading">PARKINSON DISEASE</div>
  </div>
</section>
<section class="section2">
  <div class="left purple">ABOUT PARKINSON</div>
  <div class="right">
    <div class="top">
      It is a progressive nervous system disorder that affects movement. It
      develops gradually, sometimes with a barely noticeable tremor in just one
      hand. But while tremor may be well-known sign of Parkinson disease, the
      disorder also commonly causes stiffness or slowing of movement.
    </div>
    <div class="bottom">
      <div class="heading purple">POTENTIAL CAUSES</div>
      <div class="images">
        <div class="image">
          <img src="../../assets/dna.png" alt="" />
          <div class="image-description">DNA</div>
        </div>
        <div class="image">
          <img src="../../assets/trees.png" alt="" />
          <div class="image-description">Environmental Factors</div>
        </div>
        <div class="image">
          <img src="../../assets/brain.png" alt="" />
          <div class="image-description">Brain Damage</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section3">
  <div class="top">
    <div class="heading purple">WHY EARLY DETECTION?</div>
    <div class="text">
      The detection in early stage of Parkinson can greatly assist doctors in
      providing timely and appropriate treatment to patients. Machine Learning
      algorithms can analyse patient data and identify patterns that may
      indicate the presence of Parkinson, enabling healthcare professionals to
      make informed decisions about diagnosis and treatment.
    </div>
  </div>
  <div class="bottom">
    <div class="left">
      CAN<br />THIS<br />BE<br /><span class="purple">PREVENTED</span><br />?
    </div>
    <div class="right">
      <div class="text">
        While there is no known cure for Parkinson disease, there are several
        lifestyle changes and strategies that may help reduce the risk of
        developing disease. Some of them are...
      </div>
      <div class="row1">
        <div class="image">
          <img src="../../assets/excercise.png" alt="" />
          <div class="image-description">Regular exercise</div>
        </div>
        <div class="image">
          <img src="../../assets/food.png" alt="" />
          <div class="image-description">Healthy diet</div>
        </div>
      </div>
      <div class="row2">
        <div class="image">
          <img src="../../assets/love.png" alt="" />
          <div class="image-description">Managing stress</div>
        </div>
        <div class="image">
          <img src="../../assets/bed.png" alt="" />
          <div class="image-description">Proper sleep</div>
        </div>
      </div>
      <div class="row3">
        <div class="image">
          <img src="../../assets/factory.png" alt="" />
          <div class="image-description">
            Avoiding exposure to environment toxins
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section6">
  <div>
    <button routerLink="/prediction">Move to prediction UI ➾</button>
  </div>
</section>
<app-footer></app-footer>
