<section class="section1">
  <div class="header">
    <div class="disease-info header-btn" routerLink="/disease-info">
      Disease Information
    </div>
    <div class="home header-btn underline" routerLink="/home">Home</div>
    <div class="detection-ui header-btn" routerLink="/prediction">
      Detection UI
    </div>
  </div>
  <div class="section1-body">
    <div class="section1-heading">PARKINSON DISEASE DETECTION</div>
    <div class="section1-subheading">
      This website is dedicated to detecting Parkinson disease in patients using
      advanced machine learning techniques
    </div>
  </div>
</section>
<section class="section2">
  <div class="section2-left">
    What is our
    <span class="purple text-magnify">Purpose</span>
    ?
  </div>
  <div class="section2-right">
    <div class="section2-right-inner">
      <div class="section2-images-heading">
        THIS WEBSITE SERVES AS A VALUABLE TOOL FOR
      </div>
      <div class="section2-images-container">
        <div class="section2-image">
          <img src="../../assets/doctor.png" alt="" />
          <div class="section2-img-text">
            Aid in early detection and diagnosis of Parkinson disease
          </div>
        </div>
        <div class="section2-image">
          <img src="../../assets/patient.png" alt="" />
          <div class="section2-img-text">
            Provide access to information and resources for managing the disease
          </div>
        </div>
        <div class="section2-image">
          <img src="../../assets/research.png" alt="" />
          <div class="section2-img-text">
            Support ongoing research efforts in the field of Parkinson disease
            detection and treatment
          </div>
        </div>
        <div class="section2-image">
          <img src="../../assets/public.png" alt="" />
          <div class="section2-img-text">
            Increase awareness and understanding of Parkinson disease and its
            impact on individuals and society
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section3">
  <div class="section3-row1">
    <div class="section3-left">
      <img src="../../assets/accuracy.png" alt="" />
    </div>
    <div class="section3-right-text">
      Our models excels because we achieved an
      <em class="purple text-magnify">Accuracy </em>of over
      <em class="purple text-magnify">99%</em>.
    </div>
  </div>
  <div class="section3-row2">
    <div class="section3-left-text">
      Our model trained on
      <em class="purple text-magnify">Robust </em>dataset provides rapid results
      leading to higher <em class="purple text-magnify">Efficiency</em>.
    </div>
    <div class="section3-right">
      <img src="../../assets/efficiency.png" alt="" />
    </div>
  </div>
</section>
<section class="section4">
  <div class="section4-left">
    <img src="../../assets/navigation.png" alt="" />
  </div>
  <div class="section4-right">
    <div class="section4-heading">
      <em class="purple text-magnify">Advantages</em> to our
      <em class="purple text-magnify">Approach</em>
    </div>
    <div class="section4-content">
      <div class="container">
        <div class="icon">
          <img src="../../assets/noninvastive.png" alt="" />
        </div>
        <div class="content">
          <b>Non Invasive!</b><br />
          Our Model analyses medical images to detect Parkinson Disease,
          eliminating the need for invasive procedures.
        </div>
      </div>
      <div class="container">
        <div class="icon">
          <img src="../../assets/costeffective.png" alt="" />
        </div>
        <div class="content">
          <b>Cost-effective!</b><br />By leveraging machine learning techniques,
          our solution reduces the cost associated with manual diagnosis and
          testing.
        </div>
      </div>
      <div class="container">
        <div class="icon">
          <img src="../../assets/accessiible.png" alt="" />
        </div>
        <div class="content">
          <b>Accessible!</b><br />Our user-friendly interface makes it easy for
          healthcare professionals to utilize our model for patient are.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section5">
  <div class="section5-heading">
    Model <span class="purple text-magnify">Performance</span>
  </div>
  <div class="section5-content">
    <div class="container">
      <img src="../../assets/AUCROCcurve.jpg" alt="" />
      <div class="content">
        <b>AUC-ROC Curve</b><br />Area Under the Receiver Operating
        Characteristic Curve (AUC ROC) measures the ability of the model to
        distinguish between positive and negative classes. A score of 1.00
        indicates perfect classification.
      </div>
    </div>
    <div class="container flex-direction-reverse">
      <img src="../../assets/Calibrationcurve.jpg" alt="" />
      <div class="content">
        <b>Brier Score</b><br />Brier Score measures the accuracy of
        probabilistic predictions made by the model. Lower values indicate
        better calibration. In this case, a score of 0.0015 suggests high
        accuracy.
      </div>
    </div>
    <div class="container">
      <img src="../../assets/KSCurve.jpg" alt="" />
      <div class="content">
        <b>K-S Statistic</b><br />Kolmogorov-Smirnov (K-S) Statistic measures
        the maximum distance between the cumulative distribution functions of
        the predicted probabilities and actual outcomes. A value close to 1
        indicates good model performance.
      </div>
    </div>
    <div class="container flex-direction-reverse">
      <img src="../../assets/liftcurve.jpg" alt="" />
      <div class="content">
        <b>Lift Score</b><br />Lift Score measures the effectiveness of a
        classification model at identifying cases of interest. A high lift
        score, such as 98650.47, indicates strong predictive power.
      </div>
    </div>
  </div>
</section>
<section class="section6">
  <div>
    <button routerLink="/disease-info">Know more About Parkinson</button>
    <button routerLink="/prediction">Move to prediction UI ➾</button>
  </div>
</section>
<app-footer></app-footer>
